pymilvus
llama_index
pandas
numpy
langchain
sentence_transformers
dotenv
wikipedia
requests
docling
langchain_docling
streamlit
ibm_watsonx_ai
ibm-watsonx-ai[langchain]
langchain
langchain-ibm
langchain-milvus
langchain-huggingface
langchain-community